bitrix
!local/templates/home/components/bitrix
!local/templates/exam1/components/bitrix
!local/templates/home/components/bitrix/news/reviews/bitrix/
!local/templates/home/components/bitrix/news/announcements/bitrix/
!local/templates/home/components/bitrix/news/our_news/bitrix/
!local/templates/home/components/bitrix/news/my_anouncements/bitrix/
upload
site2/upload